* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for "Background" */
body {
    width: 100%;
    /* height: 3495px; */
    background: -webkit-linear-gradient(-236.12304494193deg, rgba(48, 207, 208, 255) 0%, rgba(51, 8, 103, 196) 57%, rgba(48, 207, 208, 255) 100%);
    background: -o-linear-gradient(-236.12304494193deg, rgba(48, 207, 208, 255) 0%, rgba(51, 8, 103, 196) 57%, rgba(48, 207, 208, 255) 100%);
    background: -moz-linear-gradient(-236.12304494193deg, rgba(48, 207, 208, 255) 0%, rgba(51, 8, 103, 196) 57%, rgba(48, 207, 208, 255) 100%);
    background: -ms-linear-gradient(-236.12304494193deg, rgba(48, 207, 208, 255) 0%, rgba(51, 8, 103, 196) 57%, rgba(48, 207, 208, 255) 100%);
    background: linear-gradient(-236.12304494193deg, rgba(48, 207, 208, 255) 0%, rgba(51, 8, 103, 196) 57%, rgba(48, 207, 208, 255) 100%);
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: white;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu-toggle {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    display: none;
    z-index: 999;
}

.menu-toggle i,
.fa-times {
    font-size: 3rem;
}

.fa-times {
    display: none !important;
    cursor: pointer;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1000;
}

.logo {
    width: 5rem;
    box-sizing: content-box;
    padding-left: 3rem;
    display: inline;
}

.logo img {
    display: block;
    width: 50%;
}

.logo h3 {
    width: 50%;
}

nav ul {
    height: 8rem;
    list-style: none;
    display: flex;
    font-size: 2rem;
}

nav ul li {
    padding: 0 3rem;
    line-height: 8rem;
    animation: slideIn .5s forwards;
}

nav ul li :hover::before,
nav ul li :hover::after {
    transform: scaleX(1);
}

nav ul li ::before,
nav ul li ::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

nav ul li ::before {
    top: 0;
    transform-origin: left;
}

nav ul li ::after {
    bottom: 0;
    transform-origin: right;
}

.nav-right {
    margin-right: 6rem;
}

.loginBtn {
    width: 12rem;
    margin-right: -2rem;
    cursor: pointer;
}

.signupBtn {
    border: 2px solid #ffffff;
    border-radius: 50px;
    width: 12rem;
    margin-right: 1rem;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

@keyframes slideIn {
    from {}

    to {
        transform: translateX(0);
    }
}

.main {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero {
    height: 80vh;
    flex: 1;
}

.avatar {
    height: 80vh;
    flex: 1;
}

.avatar img {
    width: 50%;
    margin-left: 10rem;
}

.description {
    display: flex;
    width: 80%;
    margin-top: 10%;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description h1 {
    font-size: 3.5vw;
    letter-spacing: 3px;
    margin-right: -3px;
    font-weight: 900;
    margin-bottom: 3rem;
    text-align: left;
}

.description p {
    font-size: 1.6vw;
    margin-bottom: 4rem;
    font-weight: 100;
    text-align: justify;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.chart-item {
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.chart-img img {
    width: 40rem;
    flex: 1;
}

.item-description {
    /* background-color: red; */
    width: 55%;
}

.chart-item h1 {
    font-size: 5rem;
    font-weight: 500;
    margin: 1rem 0;
}

.chart-item p {
    font-size: 2rem;
    font-weight: 100;
    margin: 1rem 0;
    /* width: 90%; */
    text-align: justify;

}

.has-margin-right {
    margin-right: 5rem;
}

.contactUs {
    padding: 0 5%;
    margin: 17em auto;
    text-align: center !important;
}

.contactUs h3 {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 100;
}

#mail {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

#Btnmail {
    border: 2px solid #ffffff;
    border-radius: 50px;
    width: 170px;
    font-size: 22px;
    font-weight: 400;
    padding: 10px 25px;
}

footer {
    padding: 0 5%;
    margin: 20rem 0 40px 0;
}

footer p,
.footerPages {
    display: inline-block;
    font-weight: 100;
    font-size: 2rem;

}

.footerPages {
    float: right;
}

.footerPages a {
    text-decoration: none;
    margin-left: 30px;
    font-size: 2rem;
}

.footerPages a:hover {
    font-weight: 500;
}