/*============global=============*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {

    height: 3468px;
    /* width: 100%; */
    background: #;
    background: -webkit-linear-gradient(-236.12304494193deg, rgba(48, 207, 208, 255) 0%, rgba(51, 8, 103, 196) 57%, rgba(48, 207, 208, 255) 100%);
    background: -o-linear-gradient(-236.12304494193deg, rgba(48, 207, 208, 255) 0%, rgba(51, 8, 103, 196) 57%, rgba(48, 207, 208, 255) 100%);
    background: -moz-linear-gradient(-236.12304494193deg, rgba(48, 207, 208, 255) 0%, rgba(51, 8, 103, 196) 57%, rgba(48, 207, 208, 255) 100%);
    background: -ms-linear-gradient(-236.12304494193deg, rgba(48, 207, 208, 255) 0%, rgba(51, 8, 103, 196) 57%, rgba(48, 207, 208, 255) 100%);
    background: linear-gradient(-236.12304494193deg, rgba(48, 207, 208, 255) 0%, rgba(51, 8, 103, 196) 57%, rgba(48, 207, 208, 255) 100%);
}

html {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 68px;
    font-weight: 100;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

nav {
    line-height: 130px;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

#weblogo {
    float: left !important;
}

.BtnContact {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #03B2FF;
    background-color: #03B2FF;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 30px;
}

.BtnPortfolio {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 30px;
}

#companylogo {
    height: 20px;
    width: 20px;
}


#arrow {
    height: 15px;
    width: 20px;
}