/*============global=============*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background: #;
    background: -webkit-linear-gradient(-236.12304494193deg, rgba(48, 207, 208, 255) 0%, rgba(51, 8, 103, 196) 57%, rgba(48, 207, 208, 255) 100%);
    background: -o-linear-gradient(-236.12304494193deg, rgba(48, 207, 208, 255) 0%, rgba(51, 8, 103, 196) 57%, rgba(48, 207, 208, 255) 100%);
    background: -moz-linear-gradient(-236.12304494193deg, rgba(48, 207, 208, 255) 0%, rgba(51, 8, 103, 196) 57%, rgba(48, 207, 208, 255) 100%);
    background: -ms-linear-gradient(-236.12304494193deg, rgba(48, 207, 208, 255) 0%, rgba(51, 8, 103, 196) 57%, rgba(48, 207, 208, 255) 100%);
    background: linear-gradient(-236.12304494193deg, rgba(48, 207, 208, 255) 0%, rgba(51, 8, 103, 196) 57%, rgba(48, 207, 208, 255) 100%);
}

html {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 5vw;
    font-weight: 700;
    color: #ffffff;
}

h3 {
    font-size: 1.8vw;
    color: #ffffff;
    font-weight: 100;
}

p {
    font-size: 16px;
}

nav {
    line-height: 100px;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6vw;
    font-weight: 200;
    padding-right: 40px;

}

#weblogo {
    float: left !important;
    font-weight: 500;
    font-size: 2.5vw;
}

.BtnContact {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #03B2FF;
    background-color: #03B2FF;
    border-radius: 50px;
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 30px;
    float: left;
    font-size: 22px;
    font-weight: 400;
}

#login {
    font-weight: 500;
}

#signup {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50px;
    width: 160px;
    height: 45px;
    margin: 0 auto;
    padding: 0;
    margin-right: 60px;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    font-weight: 500;
}

.BtnPortfolio {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50px;
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 400;
    margin-left: 5%;
    /*you can use 30px then set media queries for small screen instead of percent*/
    float: left;
}

#companylogo {
    height: 1.7vw;
    width: 1.8vw;
}

#arrow {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    padding-left: 4px;
}

/*----------------header-------------*/
header {
    height: 800px;
    min-height: 800px;
    padding: 0 5%;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
}

header h1 {
    width: 50%;
    margin: 1.3em 0 0 0;
}

header h3 {
    width: 50%;
    margin: 0.5em 0 0 0;
}

.designs {
    padding: 0 5%;
    margin-top: 7em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: no-wrap;
}

.designs div {
    width: 50%;
}

#templates img {
    width: 95%;
    float: left;
}

#description1 {
    float: left;
    padding-left: 60px;
}


#description1 h5 {
    margin-top: 50px;
    font-size: 1.5vw;
    font-weight: 100;
    color: #ffffff;
}

#description1 h1 {
    margin-top: 30px;
    font-size: 3vw;
    font-weight: 700;
    color: #ffffff;
}

#description1 h3 {
    margin-top: 30px;
    font-size: 1.8vw;
    font-weight: 100;
    color: #ffffff;
}

.responsive {
    padding: 0 5%;
    margin: 7em 0 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: no-wrap;
}

#devices {
    width: 45%;
    float: left;
    padding-left: 60px;
}

#devices img {
    width: 95%;
    float: left;
}

#description2 {
    float: left;
    margin-left: 20px;
    width: 45% !important;
}

#description2 h5 {
    font-size: 1.5vw;
    font-weight: 100;
    color: #ffffff;
}

#description2 h1 {
    margin-top: 20px;
    font-size: 3vw;
    font-weight: 700;
    color: #ffffff;
}

#description2 h3 {
    margin-top: 1.8vw;
    font-size: 25px;
    font-weight: 100;
    color: #ffffff;
}

.BtnPortfolio2 {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50px;
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    padding: 10px 25px;
    /*you can use 30px then set media queries for small screen instead of percent*/
}

.wrapper {
    margin-top: 20px;
    text-align: center !important;
}

.container {
    padding: 2px 16px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
    float: left;
    margin-left: 90px;
}

.card p,
h4 {
    color: white;
    font-weight: 100;
    text-align: left;
    margin-top: 10px;
}

.card img {
    height: 20em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.services {
    padding: 0 5%;
    margin-top: 7em;
    height: 30em;
    text-align: center !important;
}

.contactUs {
    padding: 0 5%;
    margin-top: 7em;
    text-align: center !important;
}

.contactUs h3 {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 100;
}

#mail {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

#Btnmail {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50px;
    width: 170px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    padding: 10px 25px;
}

footer {
    padding: 0 5%;
    margin: 200px 0 40px 0;
    color: #ffffff;
}

footer p,
.footerPages {
    display: inline-block;
    font-weight: 100;
}

.footerPages {
    float: right;
}

.footerPages a {
    text-decoration: none;
    font-weight: 100;
    color: #ffffff;
    margin-left: 30px;
}

/*===========responsive tablet=========*/
@media only screen and (max-width: 1000px) {
    header {
        height: 800px;
        min-height: 800px;
        padding: 0 5%;
        background-image: url("../img/background.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
    }

    header h1 {
        width: 60%;
        font-size: 60px;
        font-weight: 700;
        margin-top: 1.8em;
    }

    header h3 {
        width: 55%;
    }

    .designs {
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: no-wrap;
    }

    #templates img {
        margin-top: 35px;
        width: 100%;
        float: left;
    }

    #description1 {
        float: left;
        padding-left: 10%;
        width: 45% !important;
    }

    #description1 h5 {
        font-size: 15px;
        font-weight: 100;
        color: #ffffff;
    }

    #description1 h1 {
        margin-top: 20px;
        font-size: 35px;
        font-weight: 500;
        color: #ffffff;
    }

    #description1 h3 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 100;
        color: #ffffff;
    }


    .responsive {
        margin: 7em 0 2em 0 !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: no-wrap;
    }

    #devices {
        width: 45%;
        float: left;
    }

    #description2 {
        float: left;
        width: 45% !important;
    }

    #description2 h5 {
        font-size: 15px;
        font-weight: 100;
        color: #ffffff;
    }

    #description2 h1 {
        margin-top: 20px;
        font-size: 35px;
        font-weight: 500;
        color: #ffffff;
    }

    #description2 h3 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 100;
        color: #ffffff;
    }

    #devices img {
        margin-top: 35px;
        width: 100%;
        float: left;
    }
}

/*-----------------Responsive Phone-----------------*/
@media only screen and (max-width: 600px) {

    body {
        background: #;
        background: -webkit-linear-gradient(53.442659424747deg , rgba(51,8,103,255) 0%, rgba(48,207,208,255) 43%, rgba(51,8,103,255) 100%);
        background: -o-linear-gradient(53.442659424747deg , rgba(51,8,103,255) 0%, rgba(48,207,208,255) 43%, rgba(51,8,103,255) 100%);
        background: -moz-linear-gradient(53.442659424747deg , rgba(51,8,103,255) 0%, rgba(48,207,208,255) 43%, rgba(51,8,103,255) 100%);
        background: -ms-linear-gradient(53.442659424747deg , rgba(51,8,103,255) 0%, rgba(48,207,208,255) 43%, rgba(51,8,103,255) 100%);
        background: linear-gradient(53.442659424747deg , rgba(51,8,103,255) 0%, rgba(48,207,208,255) 43%, rgba(51,8,103,255) 100%);
    }

    header {
        height: 800px;
        min-height: 800px;
        padding: 0 5%;
        background-image: none;
    }

    header h1 {
        width: 100%;
        margin-top: 20px;
        font-size: 10vw;
    }

    header h3 {
        width: 100%;
        margin-top: 20px;
        font-size: 4.5vw;
    }

    footer {
        text-align: center;
    }

    .footerPages {
        visibility: hidden;
    }

    footerp,
    .footerPages {
        display: block;
    }

    .designs {
        flex-direction: column;
    }

    .designs div {
        width: 100%;

    }

    #templates img {
        margin-top: 35px;
        width: 80%;
        padding-left: 10%;
        /* float: left; */
    }

    #description1 {
        float: left;
        padding-left: 10%;
        width: 80% !important;
    }

    .responsive {
        flex-direction: column;
    }

    .responsive div {
        width: 100%;

    }

    #devices img {
        margin-top: 35px;
        width: 80%;
        padding-left: 10%;
        /* float: left; */
    }

    #description2 {
        float: left;
        padding-left: 10%;
        width: 80% !important;
    }

    .menu {
        visibility: hidden;
    }

    nav a {
        font-size: 4vw;
        font-weight: 100;
        margin-left: 5px;
        padding: 2vw;
    }

    #weblogo {
        float: left !important;
        font-weight: 500;
        font-size: 4vw;
        padding: 0;
    }

    #companylogo {
        height: 4vw;
        width: 4vw;
    }
}